* {
    margin: 2px;
    padding: 2px;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.maincontainer {
    padding: 5%;
}

.cards {
    background-color: rgb(95, 130, 236);
    display: -webkit-inline-box;
}

.name {
    padding-bottom: 13px;
}

.image {
    width: 350px;
}